## Refer 3 - Pandas - DataFrames in the same dir. Examples

In [4]:
import pandas as pd
import numpy as np


data = {
    'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}

# common_functions.sort_dictionary(data)
index = ['Canada',
         'France',
         'Germany',
         'Italy',
         'Japan',
         'United Kingdom',
         'United States']
col_names = ['Population', 'GDP', 'Surface Area', 'HDI', 'Continent']
df = pd.DataFrame(data, index=index, columns=col_names)

df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [5]:
# 1. accessing items

single_col = df["Population"]
multiple_cols = df[["Population", "GDP", "Surface Area"]]
print(f"single_col \n{single_col}")
print(f"multiple_cols \n{multiple_cols}")

single_col
Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64
multiple_cols
                Population       GDP  Surface Area
Canada              35.467   1785387       9984670
France              63.951   2833687        640679
Germany             80.940   3874437        357114
Italy               60.665   2167744        301336
Japan              127.061   4602367        377930
United Kingdom      64.511   2950039        242495
United States      318.523  17348075       9525067

In [6]:


# 2. SQLs
# select * from table where Population > 70 and GDP > 2833687
mask = (df["Population"] > 70) & (df["GDP"] > 2833687)
sql_1 = df[mask]
print(sql_1)

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [7]:
# select * from table where index_name = Canada
# Remember to access rows by index we must need to use .loc[] / .iloc[]
sql_2 = df.loc["Germany"]
print(sql_2)

Population        80.94
GDP             3874437
Surface Area     357114
HDI               0.916
Continent        Europe
Name: Germany, dtype: object

In [10]:
sql_3 = df.loc[["France", "Germany"]]
print(sql_3)

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [15]:
# 3. range access from and to
col_range_1 = df.loc[:,"Population" : "HDI"]
print(col_range_1)
row_range_1 = df.loc["France" : "Japan"]
print(row_range_1)

row_range_2= df.loc["Japan":"Canada":-1]
row_range_2

                Population       GDP  Surface Area    HDI
Canada              35.467   1785387       9984670  0.913
France              63.951   2833687        640679  0.888
Germany             80.940   3874437        357114  0.916
Italy               60.665   2167744        301336  0.873
Japan              127.061   4602367        377930  0.891
United Kingdom      64.511   2950039        242495  0.907
United States      318.523  17348075       9525067  0.915
         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe
Japan       127.061  4602367        377930  0.891      Asia

         Population      GDP  Surface Area    HDI Continent
Japan       127.061  4602367        377930  0.891      Asia
Italy        60.665  2167744        301336  0.873    Europe
Germany      80.940  3874437        357114  0.916    Europe
France       63.951  2833687        640679  0.888    Europe
Canada       35.467  1785387       9984670  0.913   America