In [2]:
import pandas as pd

In [3]:
# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
# create dummmy data , many ways best way and remember this 
import pandas as pd
my_data = {
    "name": ["Foreign Cinema" , "Liho Liho" ,"The Square" , "500 Club", "Foreign Cinema"],
    "type": ["Restaurant" ,"Restaurant" ,"bar","bar" , "Rest&Bar"],
    "avg_bill":[289.0,224.0,80.5,25.30 , 300],
    "rating": [5.2,4.3,3.9,1.7 , 5.0]
}

data = pd.DataFrame(my_data)
print(data)
data.set_index("name" , inplace=True)

print("\nAfter sorting based on index col name")
data.sort_index(inplace = True)
print(data)

             name        type  avg_bill  rating
0  Foreign Cinema  Restaurant     289.0     5.2
1       Liho Liho  Restaurant     224.0     4.3
2      The Square         bar      80.5     3.9
3        500 Club         bar      25.3     1.7
4  Foreign Cinema    Rest&Bar     300.0     5.0

After sorting based on index col name
                      type  avg_bill  rating
name
500 Club               bar      25.3     1.7
Foreign Cinema  Restaurant     289.0     5.2
Foreign Cinema    Rest&Bar     300.0     5.0
Liho Liho       Restaurant     224.0     4.3
The Square             bar      80.5     3.9

In [43]:
import numpy as np
data.index.unique()
print(data["type"].unique())
print(data[["type","rating"]])
pd.unique(data["type"])
#pd.unique(data[ ["type","rating"] ].values)
np.unique(data[['avg_bill', 'rating']].values)


# for i in data["type"].unique():
#     print("hello " , i)

['bar' 'Restaurant' 'Rest&Bar']
                      type  rating
name
500 Club               bar     1.7
Foreign Cinema  Restaurant     5.2
Foreign Cinema    Rest&Bar     5.0
Liho Liho       Restaurant     4.3
The Square             bar     3.9

array([  1.7,   3.9,   4.3,   5. ,   5.2,  25.3,  80.5, 224. , 289. ,
       300. ])

In [18]:
## Samples of creating DF manually - Data Preparation

In [6]:
# way 1. Refer this 
import pandas as pd
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars)
df

            Brand  Price  Year
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

In [12]:

df["avg_price"] =  df["Price"].mean()
df

            Brand  Price  Year  avg_price
0     Honda Civic  22000  2015        100
1  Toyota Corolla  25000  2013        100
2      Ford Focus  27000  2018        100
3         Audi A4  35000  2018        100

## < --------- DataFrame - access items ( very Important ) --------->

In [20]:
# 1. access a cell one row one col
one_row_one_col = data.loc[ "500 Club" , "rating" ]
print(type(one_row_one_col))
print(one_row_one_col)

<class 'numpy.float64'>
1.7

In [21]:
# 2. find out avg bill for all names 
# select avg_bill from table ;

avg_bill = data.loc[:, "avg_bill"]
print(avg_bill)

name
500 Club           25.3
Foreign Cinema    289.0
Foreign Cinema    300.0
Liho Liho         224.0
The Square         80.5
Name: avg_bill, dtype: float64

In [22]:
# # 3. find out avg bill for  Foreign Cinema
# select avg_bill from table where index_name = 'Foreign Cinema' ; same as cell value access 

data.loc["Foreign Cinema" , "avg_bill"]

name
Foreign Cinema    289.0
Foreign Cinema    300.0
Name: avg_bill, dtype: float64

In [23]:
# # 3. find out avg bill and ratings for  Foreign Cinema
# select avg_bill , rating from table where index_name = 'Foreign Cinema' ; 

avg_bill_rating = data.loc[ "Foreign Cinema" , ["avg_bill","rating"]]
print(avg_bill_rating)
print(type(avg_bill_rating))
avg_bill_rating["rating"]

                avg_bill  rating
name
Foreign Cinema     289.0     5.2
Foreign Cinema     300.0     5.0
<class 'pandas.core.frame.DataFrame'>

name
Foreign Cinema    5.2
Foreign Cinema    5.0
Name: rating, dtype: float64

In [24]:
# # 3. find out avg bill and ratings for  Foreign Cinema and The Square

# select avg_bill , rating from table where index_name in ('Foreign Cinema' and 'The Square'); 

avg_bill_rating = data.loc[ ["Foreign Cinema" , "The Square"], ["avg_bill" , "rating"]]
print(avg_bill_rating)
print(type(avg_bill_rating))

avg_bill_for_Cinema_Square = avg_bill_rating.loc[:,"avg_bill"]
print(type(avg_bill_for_Cinema_Square))
print(avg_bill_for_Cinema_Square)





## below are some ways to get acccess to the items , but that not important to remember
# now find out the avg_bill and rating for "Foreign Cinema" and since avg_bill_rating is a DF , so we need DF.loc[] 
avg_bill_rating_for_Foreign_Cinema = avg_bill_rating.loc["Foreign Cinema"] 

# now to get any col from avg_bill_rating_for_Foreign_Cinema we simply use [] as this is a series 
avg_bill_rating_for_Foreign_Cinema["avg_bill"]

## Note : remember when ever we are selecting more that 1 rows and 1 col the return data type is Dataframe
# else it will be always Series only.

                avg_bill  rating
name
Foreign Cinema     289.0     5.2
Foreign Cinema     300.0     5.0
The Square          80.5     3.9
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
name
Foreign Cinema    289.0
Foreign Cinema    300.0
The Square         80.5
Name: avg_bill, dtype: float64

name
Foreign Cinema    289.0
Foreign Cinema    300.0
Name: avg_bill, dtype: float64

In [25]:
# 4. select rows for conditional col 
# select all rows and all cols for which the rating > 3.0
# select * from table where rating > 3 ;

result1 = data.loc[data["rating"] > 3]
print(result1)

# # select * from table where type='Restaurant' and rating >3.0 ;
result_4 = data.loc[ (data["type"] == "Restaurant") & (data["rating"] > 3.0 ) ]
print(result_4)

# # select avg_bill, type, rating from table where type='Restaurant' and rating in (5.2,4.3) ;
result_5 = data.loc[ (data["type"] == 'Restaurant') & (data["rating"].isin([5.2,4.3]) ) , ["avg_bill" , "type" , "rating"] ]
print(result_5)









### below are some ways to get acccess to the items , but that not important to remember

# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema"
# result2 = data.loc[data["rating"] > 3].loc["Foreign Cinema"]
# print(type(result2))

# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema" and type = "Restaurant"
# result = data.loc[ data["rating"] > 3.0  ].loc["Foreign Cinema"]
# # now this returns a series so access an item from series by [] or . operator
# print(result)
# print(type(result))


# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema" and "Liho liho" and type = "Restaurant"
# result = data.loc[ (data["type"] == "Restaurant") & (data["rating"] > 3.0 ) ].loc[ ["Foreign Cinema" , "Liho Liho"] ]
# print(result.loc[result["avg_bill"] > 250])

# good_rest = data.loc[(data["rating"] > 3) , ["avg_bill" ,"rating"] ]
# print(type(good_rest))
# print(good_rest)

                      type  avg_bill  rating
name
Foreign Cinema  Restaurant     289.0     5.2
Foreign Cinema    Rest&Bar     300.0     5.0
Liho Liho       Restaurant     224.0     4.3
The Square             bar      80.5     3.9
                      type  avg_bill  rating
name
Foreign Cinema  Restaurant     289.0     5.2
Liho Liho       Restaurant     224.0     4.3
                avg_bill        type  rating
name
Foreign Cinema     289.0  Restaurant     5.2
Liho Liho          224.0  Restaurant     4.3

## <---------- Droping rows / cols based on Null ( Very IMPORTANT ) ------->

In [26]:
import numpy as np
from numpy import NaN

my_dict = {
    "app" : ["a","b","c",NaN],
    "rating" : [1,NaN,NaN, NaN ],
    "Installs" : [0,10,NaN , NaN]
} 
data = pd.DataFrame(my_dict)
print(data)

   app  rating  Installs
0    a     1.0       0.0
1    b     NaN      10.0
2    c     NaN       NaN
3  NaN     NaN       NaN

In [27]:
# drop rows with any col has any null

data.dropna(axis = 0 , how ="any")

  app  rating  Installs
0   a     1.0       0.0

In [28]:
# drop rows with a perticular col has any null val

data.dropna(axis=0 , how="any" , subset=["rating"])

  app  rating  Installs
0   a     1.0       0.0

In [29]:
## not important to remember ...

# data.dropna(axis=0, how="any" , subset=["rating" , "Installs"]) # OR condition 
# data.dropna(axis=0, how="all" , subset=["rating" , "Installs"]) # both the col will be checked and condition

In [41]:
pythonList1 = [5,1]
print(pythonList1)
pythonList1.extend([1,2,3])
pythonList1
sorted_list = sorted(pythonList1)
sorted(sorted_list)

sorted_list.count(1)

[5, 1]

2

str

In [30]:
# way 2. list if tuples / list 
df = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0, 5.2),
                   ('Liho Liho', 'Restaurant', 224.0, 4.3),
                   ('500 Club', 'bar', 80.5, 3.9),
                   ('The Square', 'bar', 25.30, 1.7)],
           columns=('name', 'type', 'AvgBill', 'Rating')
                 )
df.set_index('name', inplace=True)
df

                      type  AvgBill  Rating
name
Foreign Cinema  Restaurant    289.0     5.2
Liho Liho       Restaurant    224.0     4.3
500 Club               bar     80.5     3.9
The Square             bar     25.3     1.7