In [2]:
import pandas as pd

In [3]:
# create dummmy data , many ways best way and remember this 
import pandas as pd
my_data = {
    "name": ["Foreign Cinema" , "Liho Liho" ,"The Square" , "500 Club", "Foreign Cinema"],
    "type": ["Restaurant" ,"Restaurant" ,"bar","bar" , "Rest&Bar"],
    "avg_bill":[289.0,224.0,80.5,25.30 , 300],
    "rating": [5.2,4.3,3.9,1.7 , 5.0]
}

data = pd.DataFrame(my_data)
print(data)
data.set_index("name" , inplace=True)
data.sort_index(inplace = True)
print(data)

             name        type  avg_bill  rating
0  Foreign Cinema  Restaurant     289.0     5.2
1       Liho Liho  Restaurant     224.0     4.3
2      The Square         bar      80.5     3.9
3        500 Club         bar      25.3     1.7
4  Foreign Cinema    Rest&Bar     300.0     5.0
                      type  avg_bill  rating
name
500 Club               bar      25.3     1.7
Foreign Cinema  Restaurant     289.0     5.2
Foreign Cinema    Rest&Bar     300.0     5.0
Liho Liho       Restaurant     224.0     4.3
The Square             bar      80.5     3.9

## < ---------  Use cases --------->

In [5]:

# 1. access a cell one row one col
one_row_one_col = data.loc[ "500 Club" , "rating" ]
print(type(one_row_one_col))
print(one_row_one_col)

<class 'numpy.float64'>
1.7

In [6]:
# 2. find out avg bill for all names 
# select avg_bill from table ;

avg_bill = data.loc[:, "avg_bill"]
print(avg_bill)

name
Foreign Cinema    289.0
Liho Liho         224.0
The Square         80.5
500 Club           25.3
Name: avg_bill, dtype: float64

In [7]:
# # 3. find out avg bill for  Foreign Cinema
# select avg_bill from table where index_name = 'Foreign Cinema' ; same as cell value access 

data.loc["Foreign Cinema" , "avg_bill"]

289.0

In [11]:
# # 3. find out avg bill and ratings for  Foreign Cinema
# select avg_bill , rating from table where index_name = 'Foreign Cinema' ; 

avg_bill_rating = data.loc[ "Foreign Cinema" , ["avg_bill","rating"]]
print(avg_bill_rating)
print(type(avg_bill_rating))
avg_bill_rating["rating"]

avg_bill    289
rating      5.2
Name: Foreign Cinema, dtype: object
<class 'pandas.core.series.Series'>

5.2

In [22]:
# # 3. find out avg bill and ratings for  Foreign Cinema and The Square

# select avg_bill , rating from table where index_name in ('Foreign Cinema' and 'The Square'); 

avg_bill_rating = data.loc[ ["Foreign Cinema" , "The Square"], ["avg_bill" , "rating"]]
print(avg_bill_rating)
print(type(avg_bill_rating))

avg_bill_for_Cinema_Square = avg_bill_rating.loc[:,"avg_bill"]
print(type(avg_bill_for_Cinema_Square))
print(avg_bill_for_Cinema_Square)





## below are some ways to get acccess to the items , but that not important to remember
# now find out the avg_bill and rating for "Foreign Cinema" and since avg_bill_rating is a DF , so we need DF.loc[] 
avg_bill_rating_for_Foreign_Cinema = avg_bill_rating.loc["Foreign Cinema"] 

# now to get any col from avg_bill_rating_for_Foreign_Cinema we simply use [] as this is a series 
avg_bill_rating_for_Foreign_Cinema["avg_bill"]

## Note : remember when ever we are selecting more that 1 rows and 1 col the return data type is Dataframe
# else it will be always Series only.

                avg_bill  rating
name
Foreign Cinema     289.0     5.2
The Square          80.5     3.9
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
name
Foreign Cinema    289.0
The Square         80.5
Name: avg_bill, dtype: float64

289.0

In [77]:
# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
# 4. select rows for conditional col 
# select all rows and all cols for which the rating > 3.0
# select * from table where rating > 3 ;

result1 = data.loc[data["rating"] > 3]
print(result1)

# # select * from table where type='Restaurant' and rating >3.0 ;
result_4 = data.loc[ (data["type"] == "Restaurant") & (data["rating"] > 3.0 ) ]
print(result_4)

# # select avg_bill, type, rating from table where type='Restaurant' and rating in (5.2,4.3) ;
result_5 = data.loc[ (data["type"] == 'Restaurant') & (data["rating"].isin([5.2,4.3]) ) , ["avg_bill" , "type" , "rating"] ]
print(result_5)









### below are some ways to get acccess to the items , but that not important to remember

# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema"
# result2 = data.loc[data["rating"] > 3].loc["Foreign Cinema"]
# print(type(result2))

# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema" and type = "Restaurant"
# result = data.loc[ data["rating"] > 3.0  ].loc["Foreign Cinema"]
# # now this returns a series so access an item from series by [] or . operator
# print(result)
# print(type(result))


# # now select all rows and all cols for which the rating > 3.0 and index = "Foreign Cinema" and "Liho liho" and type = "Restaurant"
# result = data.loc[ (data["type"] == "Restaurant") & (data["rating"] > 3.0 ) ].loc[ ["Foreign Cinema" , "Liho Liho"] ]
# print(result.loc[result["avg_bill"] > 250])

# good_rest = data.loc[(data["rating"] > 3) , ["avg_bill" ,"rating"] ]
# print(type(good_rest))
# print(good_rest)

                      type  avg_bill  rating
name
Foreign Cinema  Restaurant     289.0     5.2
Foreign Cinema    Rest&Bar     300.0     5.0
Liho Liho       Restaurant     224.0     4.3
The Square             bar      80.5     3.9
                      type  avg_bill  rating
name
Foreign Cinema  Restaurant     289.0     5.2
Liho Liho       Restaurant     224.0     4.3
                avg_bill        type  rating
name
Foreign Cinema     289.0  Restaurant     5.2
Liho Liho          224.0  Restaurant     4.3